{:paths ["src" "resources" "dev"]
 :deps {hashp/hashp {:mvn/version "0.2.2"}
        com.github.seancorfield/expectations {:mvn/version "2.1.188"}
        org.clojars.abhinav/snitch {:mvn/version "0.1.14"}
        zprint/zprint {:mvn/version "1.2.4"}}}
